{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>
    <h2>Goat List</h2>
<ul>
    {% for goat in goats %}
        <li><a href="{% url 'goat_detail' goat.id %}">{{ goat.name }} ({{ goat.tag_no }})</a></li>
    {% endfor %}
</ul>
<a href="{% url 'register_goat' %}">Register a new Goat</a>
</body>
</html>
